<section class='box'>
  <div class='box-s column border-rounded'>
    <div class='box'>
      <div class='profile-pic'></div>
    </div>
    <div class='box column'>
      <p><i class='fa fa-user-circle-o'></i> Henrique Hefler</p>
      <p><i class='fa fa-map-marker'></i> Brasil</p>
      <a href='https://www.linkedin.com/in/heflerdev/' target='_blank'><p><i class='fa fa-linkedin'></i> Linkedin </p></a>
      <a href='https://github.com/HeflerDev' target='_blank'><p> <i class='fa fa-github'></i> Github</p></a>
      <a href='https://twitter.com/HeflerDev' target="_blank"><p> <i class="fa fa-twitter"></i> Twitter </p></a>
      <button><i class='fa fa-send'></i><%= link_to " Send Email", contact_path %> </button>
    </div>
  </div>
</section>

<a href="#"></a>
