<section class='container my-5'>
  <div class="d-flex flex-column d-lg-none p-5 m-5">
    <span>Hello, friend.</span>
    <span>My name is</span>
    <span>Henrique.</span>
  </div>
  <div class="d-none d-lg-flex">
    <span>Hello, friend. My name is Henrique.</span>
  </div>
  <hr>
  <div class="">
    <p>
      I am a junior full-stack Developer, <br>
      looking for opportunities.
    </p>
    <hr>
    <p>
      Currently mastering Web and Mobile App
      Development, through 1300+ hours of hard study
      in Microverse.
    </p>
    <hr>
    <p>
      I have skills with HTML, CSS, Bootstrap
       JS, React, Redux, Ruby and RoR.
    </p>
    <p>
      But still, those skills lacks experience.
    </p>
    <p>
      If you want to know me more, you can check the
      <%= link_to 'about me', '#' %> tab.
    </p>
  </div>
</section>
