<section class='box column border-rounded'>
  <div class='box-s column around'>
    <span>Hello, friend.</span>
    <span>My name is</span>
    <span>Henrique.</span>
  </div>
  <!--
    <div>
      <span>Hello, friend. My name is Henrique.</span>
    </div>
  -->
  <hr>
  <div>
    <p>
      I am a junior full-stack Developer, <br>
      looking for opportunities.
    </p>
    <hr>
    <p>
      Currently mastering Web and Mobile App
      Development, through 1300+ hours of hard study
      in Microverse.
    </p>
    <hr>
    <p>
      I have skills with HTML, CSS, Bootstrap
       JS, React, Redux, Ruby and RoR.
    </p>
    <p>
      But still, those skills lacks experience.
    </p>
    <p>
      If you want to know more about my projects, you can check the
      <%= link_to 'social', about_path %> tab.
    </p>
  </div>
</section>
