@import "~bootstrap/scss/bootstrap";

$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;

$text-title-mobile: 72px;
$text-mobile: 42px;

$color-text-light: whitesmoke ;
$color-text-dark: rgb(30,30,30);
$color-dark: rgb(26,26,26);
$color-primary: gray;
$color-secondary: lightgray;
$color-accent: rgb(56,56,56);

$radius-button: 1px;

nav {
  background-color: $color-primary;
    .button {
      font-size: 2.5rem ;
      text-align: center ;
      border: solid $color-dark 1px ;
      border-radius: $radius-button ;
    }
    .logo{
      font-size: 5rem ;
    }
}

section {
  text-align: center;
  border: solid $color-primary 2px;
  border-radius: 5px;
  span{
    text-align: center;
    color: $color-text-dark;
    font-size: $text-title-mobile;
  }
  p {
    text-align: center;
    font-size: $text-mobile;
  }
}
